<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="Usuario/static/css/estilo.css">
    <title>Caos News</title>
</head>

<style>
    .carousel-item{
     width:100%;
     max-height: 500px;
}
    .form{
        background-color: #202020;
    }
</style>

<body  background="https://image.freepik.com/foto-gratis/textura-marmol-azul-fondo-diseno_34936-517.jpg">
  <!--Menu con logo-->
    <header>
        <nav id="menu" class="navbar navbar-expand-md navbar-dark bg-dark">
            </i>
                  <img alt="Brand" width="80" src="https://www.flaticon.es/svg/static/icons/svg/1042/1042680.svg">
                  
                </a>
                <a class="navbar-brand" background="white" href="#">CaosNews </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto"></div>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="/MenuUsuario/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/index/">Galeria</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                      
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Periodistas</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/listadoPeriodista/">Juan Rodrigo Araya</a>
                      <a class="dropdown-item" href="/listadoPeriodista/">Felipe Avello</a>
                      <a class="dropdown-item" href="/listadoPeriodista/">Diana Bolocco</a>
                      <a class="dropdown-item" href="/listadoPeriodista/">Catalina Edwards</a>
                      <a class="dropdown-item" href="/listadoPeriodista/">Isabel Morel</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Categoria</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="/index/">Economía</a>
                      <a class="dropdown-item" href="/index/">Política</a>
                      <a class="dropdown-item" href="/index/">Salud</a>
                      <a class="dropdown-item" href="/index/">Educación</a>
                      <a class="dropdown-item" href="/index/">Pymes</a>
                      <a class="dropdown-item" href="/index/">Salud</a>
                      <a class="dropdown-item" href="/index/">Coronavirus</a>
                    </div>
                  </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <form class="form-inline">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
    </ul>
    <div class="der">
        <ul  class="btn btn-sm btn-outline-secondary" type="button">
            <li><img width="30" src="https://www.flaticon.es/svg/static/icons/svg/1057/1057231.svg" alt="">
                <a style="color:white" href="/login/">Login</a>
            </li>
              </ul>
        </ul>
    </div>
    
        </nav>
    
        
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other
                            background context. Make it a few sentences long so folks can pick up some informative
                            tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                        viewBox="0 0 24 24" focusable="false">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
                        <circle cx="12" cy="13" r="4" /></svg>
                    <strong>Album</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

     
        
            <div class="container">
            <h1  class="text-center">Galeria de imagenes</h1>
                <div class="row">

                    {% for i in imagenes %}
                    <!--Card para datos de imagen-->
                    <div class="col-lg-3 col-md-4 col-sm-6" data-toggle="modal" data-target="#modal">
                        <div class="img-thumbnail my-3">
                            <a href="/verImagen/{{i.idImagen}}" data-slide-to="0"><img src="../static/img/{{i.nombre}}" width="500" class="zoom img-fluid " alt="">
                            <div class="card-body">
                                <small class="text-muted">{{i.fechaRegistro}}</small>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                    <!--FIN Card para datos de imagen-->
                    {% endfor %}
                    
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
        <nav id="menu" class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <span class="text-muted">Copyright 2020 <i class="fa fa-copyright" aria-hidden="true"></i></span>
            <span class="text-muted"><a href="#">Show Details</a></span>
            <span class="text-muted right-align">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </span>
        </div></nav>
    </footer>
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</html>